@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

/* Dark mode grid pattern */
.dark .bg-grid-pattern {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

.perspective-1000 {
  perspective: 1000px;
}

:root {
  --font-webflow: 'Times New Roman', 'Times', 'serif';
}

body {
  font-family: var(--font-webflow);
}
